<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="log-path">${env:LOG_PATH:-/Users/vutuanhai/Documents/FA/Devops/Practice/Docker/day3/app.log}</Property>
    </Properties>
    <Appenders>
        <File name="FileLogger" fileName="${log-path}">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %msg%n</Pattern>
            </PatternLayout>
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="FileLogger"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
